<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title:'Listado de actores/actrices'}) %>

<%- include('partials/header') %> 

<body>
    
    <h1>LISTADO DE ACTORES</h1>
    <ul>
        <% for( let i = 0; i < actors.length; i++ ) { %>
        <li>
            <a href="/actors/detail/<%= actors[i].id %>"><%= actors[i].first_name %> <%= actors[i].last_name %></a>
        </li>
        <% } %>

    </ul>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>