<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', {title:'Detalle de la película'}) %>

<%- include('partials/header') %> 

<body>
    
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>PREMIOS: <%= movie.awards %> </p>
    <p>DURACIÓN: <%= movie.length + ' min'%> </p>
    <p>FECHA DE REALIZACIÓN: <%= movie.release_date %> </p>

   <a  class="botonVolver" href="/edit/<%= movie.id %>">Editar</a>
   <a  class="botonVolver" href="/delete/<%= movie.id %>">Eliminar</a>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>